<body>

  <div class="site-wrap">

    <app-navbar></app-navbar>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a routerLink="">Sale en Vacas</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Libros</strong></div>
        </div>
      </div>
    </div>

      <div class="site-section">
        <div class="container">

          <div class="row mb-5">
            <div class="col-md-9 order-2">

              <div class="row">
                <div class="col-md-12 mb-5">
                  <div class="float-md-left mb-4"><h2 class="text-black h5">Lista de libros</h2></div>
                </div>
              </div>


              <div class="row mb-5">
                <ng-container *ngFor="let book of books_list">
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a (click)="selectBook(book)"><img src="assets/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a routerLink="/book"> {{book.nombre}} </a></h3>
                        <p class="mb-0"> {{book.descripcion}} </p>
                        <p class="text-primary font-weight-bold">Q{{book.precio}}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                  <div class="site-block-27">
                    <ul>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
              <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1"><a href="#" class="d-flex"><span>Comics</span> <span class="text-black ml-auto">(-)</span></a></li>
                  <li class="mb-1"><a href="#" class="d-flex"><span>Novelas</span> <span class="text-black ml-auto">(-)</span></a></li>
                  <li class="mb-1"><a href="#" class="d-flex"><span>Comedias</span> <span class="text-black ml-auto">(-)</span></a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>

    <app-footer></app-footer>

  </div>
</body>
