<body>

  <div class="site-wrap">

    <app-navbar></app-navbar>

      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Sale en Vacas</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contacto</strong></div>
          </div>
        </div>
      </div>

      <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="block-16">
                <figure>
                  <img src="assets/images/books.jpg" alt="Image placeholder" class="img-fluid rounded">
                  <a href="https://www.youtube.com/watch?v=NjZCwuXxQOs" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>
                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


              <div class="site-section-heading pt-3 mb-4">
                <h2 class="text-black"> Redes de Computadoras 1 </h2>
              </div>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.</p>
              <p> Primer Semestre 2021, Universidad de San Carlos de Guatemala, Ingeniería en Ciencias y sistemas.</p>

            </div>
          </div>
        </div>
      </div>

      <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>The Boys</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">

              <div class="block-38 text-center">
                <div class="block-38-img">
                  <div class="block-38-header">
                    <img src="https://scontent.fgua4-1.fna.fbcdn.net/v/t1.6435-9/70941212_2733657526655801_1672586369597177856_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kTeSlrQq5J4AX8o8E9A&_nc_ht=scontent.fgua4-1.fna&oh=bcd725d40a21d3508bba7e1b12d9981a&oe=608A7C82" alt="Image placeholder" class="mb-4">
                    <h3 class="block-38-heading h4">Luis Arana</h3>
                    <p class="block-38-subheading">CEO/Co-Founder</p>
                  </div>
                  <div class="block-38-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="block-38 text-center">
                <div class="block-38-img">
                  <div class="block-38-header">
                    <img src="https://scontent.fgua4-1.fna.fbcdn.net/v/t1.6435-9/78532562_2718568484866189_7171603959839195136_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=EtkqeyeyHp4AX9ExiRB&_nc_ht=scontent.fgua4-1.fna&oh=57e2692ff26f8205823c97d1baeac74f&oe=6087D3E3" alt="Image placeholder" class="mb-4">
                    <h3 class="block-38-heading h4">Gerardo Chay</h3>
                    <p class="block-38-subheading">Co-Founder</p>
                  </div>
                  <div class="block-38-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="block-38 text-center">
                <div class="block-38-img">
                  <div class="block-38-header">
                    <img src="https://scontent.fgua4-1.fna.fbcdn.net/v/t1.6435-9/119140891_10219563305806657_8845330092870737300_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=yn44d4urk2wAX8HQF18&_nc_ht=scontent.fgua4-1.fna&oh=a5ec14355f40b5f04370951f72e52052&oe=60882F8D" alt="Image placeholder" class="mb-4">
                    <h3 class="block-38-heading h4">Pablo Roca</h3>
                    <p class="block-38-subheading">Marketing</p>
                  </div>
                  <div class="block-38-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="block-38 text-center">
                <div class="block-38-img">
                  <div class="block-38-header">
                    <img src="https://scontent.fgua4-1.fna.fbcdn.net/v/t1.6435-9/147788599_4001835793173498_2641942658659278992_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=4KDf9NvU0uAAX8xaWNJ&_nc_ht=scontent.fgua4-1.fna&oh=c385827c1a1941d852eeecafe6c94dbb&oe=60888D37" alt="Image placeholder" class="mb-4">
                    <h3 class="block-38-heading h4">Fredy Ramírez</h3>
                    <p class="block-38-subheading">Sales Manager</p>
                  </div>
                  <div class="block-38-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <app-footer></app-footer>
  </div>
</body>
