<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">

        <!-- SIRVE PARA CENTRAR EL NOMBRE DE LA PÁGINA -->
        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"></div>

        <div class="col-8 mb-4 mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <div class="site-logo">
            <a routerLink="" class="js-logo-clone"> Sale en vacas </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li routerLinkActive="active" ><a routerLink="/books">Libros</a></li>
        <li routerLinkActive="active" ><a routerLink="/addBook">Agregar Libro</a></li>
        <li routerLinkActive="active" ><a routerLink="/contact">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header>
